*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-family: "Signika", sans-serif;
    font-size: 62.5%;
}
.headbar{
    background-color: lightgray;
    padding: 2px 10px;
    display: flex;
}
.headbarleft{
    width: 50%;
    margin: 5px 0px;
    color: #565656;
    display: flex;
}
.headbarleft li{
    list-style: none;
    display: inline-block;
    padding: 0px 05px;
    font-size: 1.2rem;
}
.headbarleft li a{
    text-decoration: none;
    color: #565656;
}
.headbarleft li a img{
    width: 20px;
}
.headbarright{
    width: 50%;
    margin: 5px 0px;
    color: #565656;
    justify-content: end;
    display: flex;
}
.headbarright select{
    outline: none;
    border: none;
    padding: 2px 10px;
    color: #565656;
}
.navbar{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 20px;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: fixed;
}
.sitelogo{
    width: 10%;
}
.sitelogo img{
    max-width: 200px;
}
.sitemenu li{
    list-style: none;
    display: inline-block;
    padding: 15px;
    font-size: 1.5rem;
    text-align: center;
    flex-wrap: wrap;

}
.sitemenu li a{
    padding-top: 35px;
    text-decoration: none;
    color: #565656;
}
.sitemenu li a:hover{
    text-decoration: underline #8bc63d;
    color: #8bc63d;
}
.navbtn{
    padding-top: 10px;
    flex-wrap: wrap;

}
#blue{
    background-color: #0e6db5;
    color: white;
    outline: none;
    padding: 10px 25px;
    border: 1px solid #0e6db5;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;

}
#blue:hover{
    cursor: pointer;
    transform: scale(1.1);

}
#green{
    background-color: #8bc63d;
    color: white;
    outline: none;
    padding: 10px 25px;
    margin: 0px 5px;
    border: 1px solid #0e6db5;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
#green:hover{
    cursor: pointer;
    transform: scale(1.1);
}